table {
	width: 100%;	
	border-collapse:collapse;
}

table, th, td {
	border: solid 1px black;
}

tr {
	width: 100%;
}

td {
	width: auto;
	text-align: center;
}

.motgen_admin_link {
	text-decoration: none;
}

.motgen_delete_poster_image {
	display:block;
	margin: 1px auto 0px auto;
}

.motgen_admin_error {
	font-size: 40px;
	margin-top: 40px;
	text-align: center;
}

.motgen_delete_all {
	display:block;
	float:right;
	text-align:right;
	font-style: oblique;
	text-decoration: none;
}
